absl-py==0.9.0
apturl==0.5.2
asn1crypto==0.24.0
atari-py==0.1.7
attrs==19.3.0
bcrypt==3.1.6
blinker==1.4
box2d-py==2.3.8
Brlapi==0.6.7
certifi==2018.8.24
cffi==1.14.0
chardet==3.0.4
command-not-found==0.3
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.16
dbus-python==1.2.12
decorator==4.4.2
defer==1.0.6
distro==1.3.0
distro-info===0.21ubuntu4
dm-control==0.0.300771433
dm-control2gym==0.0.4
dm-env==1.2
dm-tree==0.1.1
duplicity==0.8.4
entrypoints==0.3
f.lux-indicator-applet==1.1.11rc0
fasteners==0.15
future==0.16.0
glfw==1.11.0
GPy==1.9.9
GPyOpt==1.2.6
gym==0.10.8
httplib2==0.11.3
idna==2.6
imageio==2.8.0
importlib-metadata==1.6.0
joblib==0.14.1
keyring==18.0.1
keyrings.alt==3.1.1
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.7
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.10.0
lxml==4.5.0
macaroonbakery==1.2.3
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.1.3
meld==3.20.1
monotonic==1.5
more-itertools==8.2.0
mushroom-rl==1.4.0
netifaces==0.10.4
numpy==1.18.1
numpy-quaternion==2019.12.11.22.25.52
oauthlib==2.1.0
olefile==0.46
opencv-python==4.0.0.21
packaging==20.3
paramiko==2.6.0
paramz==0.9.5
pexpect==4.6.0
Pillow==6.1.0
pluggy==0.13.1
protobuf==3.6.1
py==1.8.1
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pygame==1.9.6
pyglet==1.5.2
Pygments==2.3.1
PyGObject==3.34.0
PyJWT==1.7.0
pymacaroons==0.13.0
PyNaCl==1.3.0
PyOpenGL==3.1.5
pyparsing==2.4.6
PyPDF2==1.26.0
PyQt5==5.12.3
pyRFC3339==1.1
pytest==5.4.1
python-apt==1.9.0+ubuntu1.3
python-dateutil==2.7.3
python-debian==0.1.36
python-poppler-qt5==0.24.2
pytz==2019.2
pyxdg==0.25
PyYAML==5.1.2
Quaternion==0.3.1
reportlab==3.5.23
requests==2.21.0
requests-unixsocket==0.1.5
scikit-learn==0.22.2.post1
scipy==1.4.1
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.16.0
sip==4.19.18
six==1.12.0
sortedcontainers==2.1.0
system-service==0.3
systemd-python==234
torch==1.4.0
torchvision==0.5.0
tqdm==4.45.0
ubuntu-advantage-tools==19.5
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
usb-creator==0.3.7
wadllib==1.3.3
wcwidth==0.1.9
xkit==0.0.0
zipp==3.1.0
